<%- include('partials/header.ejs') %>

<!-- Create Post form -->

<!-- button to show/hide the creation form-->
<hr>
<button class="btn btn-primary dropdown" id="createPostBtn ">Create Post</button>

<div class="container create-post-form dropdown">
    <hr>
    <form action="/create-post" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Post</button>
        <p>Please note that any posts created by you will be erased when this website is exited or reloaded, as the assignment specified to NOT include a database.</p>

    </form>
    <hr>
</div>
<hr>

<h2 class="header-subtitle">Blog post list</h2>

<% if(locals.posts.length === 0) { %>
    <p>No posts found.</p>
<% } else { %>
    <% posts.forEach(function(post) { %>
    <div class="card mb-3">
        <div class="card-body">
        <h3 class="card-title"><%= post.title %></h3>
        <a href="/blogpost/<%= post.id %>" class="btn btn-primary">Read More</a>
        </div>
    </div>
    <% }); %>
<% } %>


<%- include('partials/footer.ejs') %>
